<ion-view style="" title="Sectors">
	<ion-nav-buttons side="right"> <!-- right -->
       <a href="" class="button button-icon icon ion-navicon"></a>
    </ion-nav-buttons>
    <ion-content padding="true">
        <ion-list>
            <ion-item class="item-avatar item-icon-right" type="item-text-wrap" ng-repeat="cat in categories" ng-click="categorySelection($index)">
                
                    <img src="{{cat.img}}">
                    {{cat.name}}
                	<i class="icon ion-chevron-right"></i>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
