<ion-view style="" title="Confirmation code">
    <ion-content class="has-header" padding="true">
        <div style="text-align: center;">
            <img src="img/GwLUcVEiSe2QAphln7eF_diamond_PNG6697.png" height="auto" width="100%">
        </div>
        <div style="text-align: center">
            <p>
            </p>
            <h3 style="text-align:center">Please enter your code confirmation sent to 0680917164!
            </h3>

        </div>
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Cod. Confirmation:</span>
                <input placeholder="" type="text">
            </label>
        </form>
        <div style="" class="button-bar">
            <a style="" class="button button-stable button-block " href="#/encontrar_amigos">Accept</a>
        </div>
    </ion-content>
</ion-view>