<ion-view style="" title="Connection">
    <ion-content class="has-header" padding="true" style="background-image: url('img/paris.png'); background-size: cover">
        <form style="" class="list">
            <a style="" class="button button-dark button-block  icon-right ion-social-facebook" href="#/main">Connect with Facebook</a>
            <a style="" class="button button-dark button-block  icon-right ion-social-linkedin" href="#/main">Connect with Linkedin</a>
            <a style="" class="button button-dark button-block  icon-right ion-social-googleplus" href="#/main">Connect with Google+</a>
            <label style="" class="item item-input">
                <span class="input-label">E-mail:</span>
                <input placeholder="" type="email">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Password</span>
                <input placeholder="" type="password">
            </label>
            <button style="" class="button button-positive button-clear button-block " ng-click="showPopup()">
            Forgot the password?</button>
        </form>
        <a style="" class="button button-dark button-block  icon-right ion-log-in" href="#/main">Accept</a>
    </ion-content>
</ion-view>