<ion-view style="" title="Contacts">
<ion-drawer-vertical-wrapper class="has-header" direction="down" state="closed">
    <ion-drawer-vertical-content>
    <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
    <label class="item item-select">
    <select class="city">
      <option>Milan</option>
      <option selected>Paris</option>
      <option>France</option>
    </select>
  </label>
        <div class="row" style="background-color: white">
          <div class="col"><ionic-ratings ratingsobj='ratingsObject'></ionic-ratings></div>
        </div>
    </ion-drawer-vertical-content>
    <ion-drawer-vertical-handle />
</ion-drawer-vertical-wrapper>
    <ion-nav-buttons side="left">
    <a href="#/findCategoriesC" class="tab-item"><img class="icon ion-home pad" src="img/iconcategory/icon_search.png"></a>
   </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <button class="button button-icon ion-navicon" ng-click="popover.show($event)"></button>
   </ion-nav-buttons>
    <ion-content>
        <div class="list">

        <a class="item item-thumbnail-left item-icon-right" href="#">
          <img src="img/9FNnFPDaTbaO1ayDqTPD_mike.png">
          <h2>Venkman</h2>
          <p>Back off, man. I'm the best seller.</p>
          <i class="icon ion-chevron-right ion-share"></i>
        </a>


        <a class="item item-thumbnail-left item-icon-right" href="#">
          <img src="img/9FNnFPDaTbaO1ayDqTPD_mike.png">
          <h2>Venkman</h2>
          <p>Back off, man. I'm the best seller.</p>
          <i class="icon ion-chevron-right ion-share"></i>
        </a>


        <a class="item item-thumbnail-left item-icon-right" href="#">
          <img src="img/9FNnFPDaTbaO1ayDqTPD_mike.png">
          <h2>Venkman</h2>
          <p>Back off, man. I'm the best seller.</p>
          <i class="icon ion-chevron-right ion-share"></i>
        </a>


        </div>
    </ion-content>
</ion-view>