<ion-view style="" title="Contacts">
    <ion-nav-buttons side="left"> <!-- left -->
       <button ng-click="filter()" class="button button-icon icon ion-search"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">

        <a class="item item-thumbnail-left" href="#">
          <img src="img/9FNnFPDaTbaO1ayDqTPD_mike.png">
          <h2>Venkman</h2>
          <p>Back off, man. I'm the best seller.</p>
        </a>


        <a class="item item-thumbnail-left" href="#">
          <img src="img/9FNnFPDaTbaO1ayDqTPD_mike.png">
          <h2>Venkman</h2>
          <p>Back off, man. I'm the best seller.</p>
        </a>


        <a class="item item-thumbnail-left" href="#">
          <img src="img/9FNnFPDaTbaO1ayDqTPD_mike.png">
          <h2>Venkman</h2>
          <p>Back off, man. I'm the best seller.</p>
        </a>


        </div>
    </ion-content>
</ion-view>