<ion-view style="" title="Create account">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">E-mail:</span>
                <input placeholder="" type="email">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Password</span>
                <input placeholder="" type="password">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Mobile:</span>
                <input placeholder="" type="tel">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">VIP Code</span>
                <input placeholder="" type="password">
            </label>
        </form>
        <a style="" class="button button-stable button-block  icon-right ion-log-in" href="#/notificaciones">Next</a>
    </ion-content>
</ion-view>