<ion-view style="" title="Buying declaration">
    <ion-nav-buttons side="right"> <!-- right -->
       <a href="" class="button button-icon icon ion-navicon"></a>
    </ion-nav-buttons>
    <ion-content padding="true">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Sector">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Brand">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Product reference bought">
          </label>
          <label class="item item-input">
           <textarea placeholder="Comments"></textarea>
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Price">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Seller name">
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Qualify seller
            </div>
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option selected>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </label>
        </div>
        <div class="list">
        Notify seller (Optional)
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Email">
            </label>
            <button class="button button-small">
              Send
            </button>
          </div>
        </div>
        <div style="" class="button-bar">
            <a style="" class="button button-stable button-block ">Accept</a>
        </div>
    </ion-content>
</ion-view>