<ion-view style="" title="Taxes">
    <ion-content padding="true">
        <div class="card">
	  		<div class="item item-text-wrap">
	  			<img src="img/useful_info.png" />
	    		<b>Shoppers eligible for Tax Free Shopping</b></br>
				●If you have a permanent residence in a non-EU country</br>
				●If you are older than 16 years</br>
				●If you spend more than 175.01 EUR</br>
				●If you buy less than 15 items (per Tax Free Form)</br>
				</br>
 
				<b>VAT Rate</b></br>
				Standard rate: 20 %</br>
				Pharmacy goods 10 %</br>
				Food, books: 5,5 %</br>
				Reduced rate for certain products and services: 2,1 %
	  		</div>
		</div>
    </ion-content>
</ion-view>