<ion-view style="" title="Favorites">
    <ion-content padding="true">
        <ion-list>
            <div class="card">
                <a ng-repeat="fav in favorites"class=" item item-thumbnail-left" href="#/favorites/{{fav.id}}">
                    <img ng-src="{{fav.images.url2}}">
                    <h2>{{fav.title}}</h2>
                    <p>{{fav.description}}</p>
                    <p>{{fav.price}}</p>
                    <i class="icon-right ion-heart"></i>
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
