<ion-view title="Filter">
    <ion-content>
        <div class="list">
            <ion-checkbox ng-repeat="item in devList" ng-model="item.checked" ng-checked="item.checked">
                <div class="item item-icon-right">
                     <img class="icon" ng-src="{{item.img}}">
                    
                    <span>{{item.text }}</span>
                </div>
            </ion-checkbox>
        </div>
         <a class="button button-stable button-block" href="#/main">Find</a>
    </ion-content>
</ion-view>
