<ion-view style="" title="Find Product">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <div style="">
                <ol>
                    <li>
                        <strong>Category:</strong>Watches and Jewelery</li>
                    <li>
                        <strong>Brand:</strong>Rolex</li>
                    <li>
                        <strong>Reference:</strong>W1655D-033</li>
                    <li>
                        <strong>Size:</strong>30 cm</li>



                    <input name="new" value="new" type="checkbox">NEW
                    <br>
                    <input name="Ssecond" value="second" type="checkbox">SECOND HAND

                </ol>

            </div>
            <ion-list style=""></ion-list>
            <label style="" class="item item-input">
                <input placeholder="Or type the Cities" type="text">
            </label>
            <button style="" class="button button-stable button-block ">Ping</button>
        </form>
    </ion-content>
</ion-view>