<ion-view style="" title="Brands">
    <ion-content>
       <ion-list>
       <ion-checkbox class="item-checkbox-right" ng-repeat="brand in categories[categoryNumber].brands" ng-model="item.checked" ng-checked="item.checked">
            <ion-item class="item-avatar" type="item-text-wrap" ng-click="sizeSelection()">
                    {{brand.brandName}}
                    <img src="img/photo.jpg">
       		</ion-item>
       </ion-checkbox>
        </ion-list>
        <a class="button button-stable button-block" href="#/filterMarks">Next</a>
    </ion-content>
</ion-view>
