<ion-view style="" title="Luxury advisor">
    <ion-content>
        <ion-list  ng-repeat="rate in rates">
            <a class="item item-thumbnail-left">
                <img ng-src="{{rate.img}}">
                <h2>{{rate.name}}</h2>
                <p>{{rate.category}}</p>
                <div class="rating">
                    <i class="icon ion-star"></i>
                    <i class="icon ion-star"></i>
                    <i class="icon ion-star"></i>
                    <i class="icon ion-star"></i>
                    <i class="icon ion-star"></i>
                </div>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
