<ion-view style="" title="Store advisor">
<ion-nav-buttons side="right">
    <button class="button button-icon ion-navicon" ng-click="popover.show($event)"></button>
   </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <a ng-repeat="rate in rates" class="item item-thumbnail-left">
                <img ng-src="{{rate.img}}">
                <h2>{{rate.name}}</h2>
                <p>{{rate.category}}</p>
                <div class="rating">
                    <i class="icon ion-star"></i>
                    <i class="icon ion-star"></i>
                    <i class="icon ion-star"></i>
                    <i class="icon ion-star"></i>
                    <i class="icon ion-star"></i>
                </div>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
