<ion-view title='Sellers locator' hide-back-button="true" >
<ion-drawer-vertical-wrapper class="has-header" direction="down" state="closed">
    <ion-drawer-vertical-content>
    <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
    <label class="item item-select">
    <select class="city">
      <option>Milan</option>
      <option selected>Paris</option>
      <option>France</option>
    </select>
  </label>
        <div class="row" style="background-color: white">
          <div class="col"><ionic-ratings ratingsobj='ratingsObject'></ionic-ratings></div>
        </div>
    </ion-drawer-vertical-content>
    <ion-drawer-vertical-handle />
</ion-drawer-vertical-wrapper>
   <ion-nav-buttons side="left">
    <a href="#/findCategories" class="tab-item"><img class="icon ion-home" src="img/iconcategory/icon_search.png"></a>
   </ion-nav-buttons>
   <ion-nav-buttons side="right">
    <button class="button button-icon ion-navicon" ng-click="popover.show($event)"></button>
   </ion-nav-buttons>
    <ion-tabs class="tabs-striped tabs-top tabs-background-stable tabs-color-dark">
        <ion-tab title="Map">
            <ion-nav-view name="Map"><ion-content scroll="false" data-tap-disabled="true">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">
            <ui-gmap-markers models="randomMarkers" coords="'self'" click="onClick">
                <ui-gmap-windows show="'show'">
                    <div ng-non-bindable class="window">
                       <p class="titlewindow">{{categorie}}</p><p class="descriptionwindow">
                        {{description}}</p>
                        <img class="imagewindow" src="{{image}}"/>
                    </div>
                </ui-gmap-windows>
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </ion-content><tab-slide-box tab="2" tabs-position="bottom" style="position: absolute; bottom: -14px; width: 100%">
                    <div class="tsb-icons tabs-icon-top">
                        <div class="tsb-ic-wrp">
                        <ion-scroll direction="x" class="tsb-hscroll">
                            <a href="#/luxusAdvisor" class="tab-item"> <i class="icon ion-shop"></i>Advisor</a>
                            <a href="#/contacts" class="tab-item"> <i class="icon ion-ios-telephone"></i>Contacts</a>
                            <a href="#/main" class="tab-item"> <i class="icon ion-person-stalker"></i>Sellers</a>
                            <a href="#/news" class="tab-item"> <i class="icon ion-android-list"></i>News</a>
                            <a href="#/chats" class="tab-item"> <i class="icon ion-chatbubble"></i>Chats</a>
                            <a href="#/photo" class="tab-item"> <i class="icon ion-camera"></i>Pictures</a>
                            <a href="#/events" class="tab-item"> <i class="icon ion-calendar"></i>Events</a>
                        </ion-scroll>
                        </div>
                    </div>
                    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                        <ion-slide>
                            <h1>Advisor</h1>
                        </ion-slide>
                        <ion-slide>
                            <h1>Contacts</h1>
                        </ion-slide>
                        <ion-slide>
                            <h1>Sellers</h1>
                        </ion-slide>
                        <ion-slide>
                            <h1>News</h1>
                        </ion-slide>
                        <ion-slide>
                            <h1>Chat</h1>
                        </ion-slide>
                        <ion-slide>
                            <h1>Pic publisher</h1>
                        </ion-slide>
                        <ion-slide>
                            <h1>Events</h1>
                        </ion-slide>
                    </ion-slide-box>
        </tab-slide-box></ion-nav-view>
        </ion-tab>

        <ion-tab title="List">
            <ion-nav-view name="List"> <ion-content>
       <div class="list">

        <a class="item item-thumbnail-left item-icon-right" href="#">
          <img src="img/business-sellers.jpg">
          <h2>Dana Barrett</h2>
          <p>Luxury clothes seller</p>
          <i class="icon ion-chevron-right ion-person-add"></i>
        </a>


        <a class="item item-thumbnail-left item-icon-right" href="#">
          <img src="img/stores/dior1.jpg">
          <h2>Dior Homme Store</h2>
          <p>A movie to discover on Dior Mag.</p>
          <i class="icon ion-chevron-right ion-person-add"></i>
        </a>


        <a class="item item-thumbnail-left item-icon-right" href="#">
          <img src="img/stores/cartier1.jpg">
          <h2>Cartier</h2>
          <p>Established in Paris in 1847</p>
          <i class="icon ion-chevron-right ion-person-add"></i>
        </a>

        <a class="item item-thumbnail-left item-icon-right" href="#">
          <img src="img/stores/mas1.jpg">
          <h2>Casa Maserati</h2>
          <p>A Delight for Milan Auto Enthusiasts</p>
          <i class="icon ion-chevron-right ion-person-add"></i>
        </a>

        <a class="item item-thumbnail-left item-icon-right" href="#">
          <img src="img/stores/given1.jpg">
          <h2>Givenchy</h2>
          <p>Creative director Riccardo Tisci recently collaborated with architect Joseph Dirand</p>
          <i class="icon ion-chevron-right ion-person-add"></i>
        </a>

        <a class="item item-thumbnail-left item-icon-right" href="#">
          <img src="img/seller_2.jpg">
          <h2>Rod James</h2>
          <p>Luxury cars seller</p>
          <i class="icon ion-chevron-right ion-person-add"></i>
        </a>

        <div style="padding-top: 60px;">
        </div>
        </div>
    </ion-content><tab-slide-box tab="2" tabs-position="bottom" style="position: absolute; bottom: -14px; width: 100%">
                    <div class="tsb-icons tabs-icon-top">
                        <div class="tsb-ic-wrp">
                        <ion-scroll direction="x" class="tsb-hscroll">
                            <a href="#/luxusAdvisor" class="tab-item"> <i class="icon ion-star"></i>Advisor</a>
                            <a href="#/contacts" class="tab-item"> <i class="icon ion-ios-telephone"></i>Contacts</a>
                            <a href="#/main" class="tab-item"> <i class="icon ion-person-stalker"></i>Sellers</a>
                            <a href="#/news" class="tab-item"> <i class="icon ion-android-list"></i>News</a>
                            <a href="#/chats" class="tab-item"> <i class="icon ion-chatbubble"></i>Chats</a>
                            <a href="#/photo" class="tab-item"> <i class="icon ion-camera"></i>Pictures</a>
                            <a href="#/events" class="tab-item"> <i class="icon ion-calendar"></i>Events</a>
                        </ion-scroll>
                        </div>
                    </div>
                    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                        <ion-slide>
                            <h1>Advisor</h1>
                        </ion-slide>
                        <ion-slide>
                            <h1>Contacts</h1>
                        </ion-slide>
                        <ion-slide>
                            <h1>Sellers</h1>
                        </ion-slide>
                        <ion-slide>
                            <h1>News</h1>
                        </ion-slide>
                        <ion-slide>
                            <h1>Chat</h1>
                        </ion-slide>
                        <ion-slide>
                            <h1>Pic publisher</h1>
                        </ion-slide>
                        <ion-slide>
                            <h1>Events</h1>
                        </ion-slide>
                    </ion-slide-box>
        </tab-slide-box></ion-nav-view> 
        </ion-tab>
    </ion-tabs>
</ion-view>