<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Who we are? </h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="card">
            <h4 style="text-align:center">LUXE PHILOSOPHY</h4>
            <div class="item item-divider">
                Visibility
            </div>
            <div class="item item-text-wrap">Give yourself more visibility attract new where customers they are, get talking with them</div>
            <div class="item item-divider">
                Contacts
            </div>
            <div class="item item-text-wrap">Organize contacts customers following you all along of your career</div>
            <div class="item item-divider">
                Sales
            </div>
            <div class="item item-text-wrap">The more you to declare sales, more you have some and contacts you better will be noted by your customers,the more you will be put in before</div>
            <div class="item item-divider">
                Locate
            </div>
            <div class="item item-text-wrap">Give yourself more visibility attract new where customers they are, get talking with them</div>
            <div class="item item-divider">
                Time
            </div>
            <div class="item item-text-wrap">Save time, get a board, availability, a fare, Service distance</div>
            <div class="item item-divider">
                Place
            </div>
            <div class="item item-text-wrap">Most of the news luxury in the place where you are</div>
            <div class="item item-divider">
                Availibility
            </div>
            <div class="item item-text-wrap">Ping: before or during your travel, looking for the price and / or availability in the towns where you are going move
            </div>
        </div>
        </div>
    </ion-content>
</ion-modal-view>
