<ion-view style="" title="My profile">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <ion-list style=""></ion-list>
            <ion-item style="" href="#/propiedades_perfil" class="item-thumbnail-left">
                <img src="img/v5MCGDhARZeKf98UYt2f_perry.png">
                <h2>Comarat Eric</h2>
                <p>Seller</p>
                <p>PREMIUM SELLER</p>
                <p>231 contacts</p>
            </ion-item>
        </form>
        <div class="card">
          <div class="item item-divider">
            Monthly suscription
          </div>
          <div class="item item-text-wrap">
            <div style="" class="button-bar">
            <a style="" class="button button-dark button-block  icon-right ion-chevron-right" href="">Standard 29€</a>
            </div>
            <a style="" class="button button-dark button-block  icon-right ion-chevron-right" href="">Premium 99€</a>
          </div>
        </div>
        <!--<a style="" class="button button-light button-icon button-block  icon-right ion-ios-arrow-right" href="#/mypublications">My publications</a>
        <a style="" class="button button-light button-icon button-block  icon-right ion-ios-arrow-right" href="#/parametros">Parameters</a>-->
    </ion-content>
</ion-view>