<ion-view style="" title="Notifications">
    <ion-content class="has-header" padding="true">
        <div style="text-align: center;">
            <img src="img/diamond.png" height="auto" width="100%">
        </div>
        <div style="text-align: center">
            <p>
            </p>
            <h3 style="text-align:center">Allow "WL" to send notifications?
            </h3>
            <p style="text-align:center">Possible notifications:
                <br>include alerts, sounds...

            </p>
        </div>
        <div style="" class="button-bar">
            <a style="" class="button button-dark button-block " href="#/notificacion_ubicacion">Accept</a>
        </div>
    </ion-content>
</ion-view>