<ion-view style="" title="Settings">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <ion-toggle style="" toggle-class="toggle-stable" ng-checked="true">Geolocalization</ion-toggle>
        </form>
        <button style="" ng-click="showPopupCGU()" class="button button-stable button-block  icon-right ion-chevron-right">CGU</button>
        <button style="" ng-click="showPopup()" class="button button-stable button-block  icon-right ion-chevron-right">Privacy policy</button>
        <button style="" ng-click="modal.show()" class="button button-stable button-block  icon-right ion-chevron-right">Who we are?</button>
    </ion-content>
</ion-view>