<ion-view style="" title="Ping to Agent">
<ion-nav-buttons side="right">
    <button class="button button-icon ion-navicon" ng-click="popover.show($event)"></button>
   </ion-nav-buttons>
    <ion-content padding="true">
        <div class="card">
            <!--<div class="item item-icon-left">
                <i class="ion-bookmark"></i> CATEGORY: {{categorias[numeroCat].name}}
            </div>
            <div class="item item-icon-left">
                <i class="ion-stats-bars"></i> BRAND: {{marca}}
            </div>-->
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Place that you visit:</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Cities to visit:</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Date of Arrival:</span>
                    <input type="month">
                </label>
                <label class="item item-input">
                    <span class="input-label">Budget (which is displayed <br>with exchange rate):</span>
                    <input type="Text">
                </label>
               
            </div>
        </div>
         <a class="button button-stable button-block" href="#/categories">Select Preferences</a>
    </ion-content>
</ion-view>
