<ion-popover-view class="popover-menu">
  <ion-content>
    <div class="list">
      <label class="item dark-item" ng-click="goDeclare()">
        Declare note seller
      </label>
      <label class="item dark-item" ng-click="goPing()">
        Ping
      </label>
      <label class="item dark-item" ng-click="goPayment()">
        Payment
      </label>
      <label class="item dark-item" ng-click="goDetax()">
        Detax
      </label>
      <label class="item dark-item" ng-click="goFavorites()">
        My favorites
      </label>
      <label class="item dark-item" ng-click="goMyProfile()">
        My Profile
      </label>
      <label class="item dark-item" ng-click="goSettings()">
        Settings
      </label>
    </div>
  </ion-content>
</ion-popover-view>