<ion-view style="" title="Profile">
    <ion-content class="has-header" padding="true">
        <div style="" class="button-bar"></div>
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left">
                <img src="img/9FNnFPDaTbaO1ayDqTPD_mike.png">
                <h2>Photo</h2>
                <p>Modificar</p>
            </ion-item>
            <label style="" class="item item-input">
                <span class="input-label">Subname:</span>
                <input placeholder="" type="text">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Name:</span>
                <input placeholder="" type="text">
            </label>
        </ion-list>
        <form style="" class="list"></form>
        <a style="" class="button button-dark button-block " href="#/notificacion_ubicacion">Accept</a>
    </ion-content>
</ion-view>