<ion-view style="" title="My Profile">
    <ion-content class="has-header" padding="true">
        <ion-list>
            <div class="list card">
                <a class="item item-thumbnail-left" href="#">
                    <img src="img/QOaK45AR6GqTLNlUKwqA_perry.png">
                    <h2>Comarat Eric</h2>
                    <p>SELLER</p>
                    <label class="item item-icon-right"><i class="icon ion-edit "></i></label>
                </a>
                <div class="item item-body">
                    <label class="item">Name, Firstname: Comarat Eric</label>
                    <label class="item">ID: echomarat</label>
                    <label class="item item-icon-right">QR Code <i class="icon ion-qr-scanner"></i></label>
                    
                    <label class="item">Gender: Male</label>
                    <label class="item">Nationality: French</label>
                    <label class="item">Country of residence: Paris, France</label>
                    <label class="item">Facebook account: Not defined </label>
                    <label class="item">Linkedin account: Not defined </label>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
