<ion-view style="" title="Ping Details">
    <ion-content padding="true">
        <div class="card">
            <div class="item item-icon-left">
                <i class="ion-bookmark"></i> SECTOR: {{categories[categoryNumber].name}}
            </div>
            <div class="item item-icon-left">
                <i class="ion-stats-bars"></i> BRAND: {{brand}}
            </div>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Reference</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Size</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Budget</span>
                    <input type="number" placeholder="€">
                </label>
            </div>
        </div>
        <ion-list>
                    <ion-checkbox ng-repeat="item in items" ng-model="item.checked" ng-checked="item.checked">  
                    <span>{{item.text }}</span>
                    </ion-checkbox>
        </ion-list>

          <label class="item item-input item-stacked-label">
            <input type="text" placeholder="City 1">
            <div class="row">
              <div class="col">From</div>
              <div class="col"><input type="date"></div>
              <div class="col">to</div>
              <div class="col"><input type="date"></div>
            </div>
          </label>
          <label class="item item-input item-stacked-label">
            <input type="text" placeholder="City 2">
            <div class="row">
              <div class="col">From</div>
              <div class="col"><input type="date"></div>
              <div class="col">to</div>
              <div class="col"><input type="date"></div>
            </div>
          </label>
          <label class="item item-input item-stacked-label">
            <input type="text" placeholder="City 3">
            <div class="row">
              <div class="col">From</div>
              <div class="col"><input type="date"></div>
              <div class="col">to</div>
              <div class="col"><input type="date"></div>
            </div>
          </label>
        

         <a class="button button-stable button-block" ng-click="agentContact()">Ping</a>
    </ion-content>
</ion-view>