<ion-view style="" title="Sell Out">
    <ion-content padding="true">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Product sold">
          </label>
          <label class="item item-input">
           <input type="number" placeholder="Quantity"></textarea>
          </label>
        </div>
        <div style="" class="button-bar">
            <a style="" class="button button-stable button-block ">Accept</a>
        </div>
    </ion-content>
</ion-view>