<ion-view style="" title="Start">
    <ion-content class="has-header" padding="true">
        <div class="card">
		  <div class="item item-divider item-stable">
		    Welcome to Luxe!
		  </div>
		  <div class="item item-text-wrap">
		    Possible video or image here.
		  </div>
		</div>
        <div style="" class="button-bar">
            <a style="" class="button button-stable button-block  icon-right ion-log-in" href="#/conexion">Connect</a>
        </div>
        <a style="" class="button button-stable button-block  icon-right ion-android-person-add" href="#/crear_cuenta">Create account</a>
    </ion-content>
</ion-view>