<ion-view style="" title="Tutorial seller">
    <ion-slide-box on-slide-changed="slideChanged(index)">
            <ion-slide ng-repeat="slide in selector">
                <!--TYPE CONTAINER-->
                <div class="type-container">
                    <h3>{{slide.text}}</h3>
                </br> </br> </br>
            <a class="button button-block button-stabled"  ng-if="slide.id==1" href="#/main">
                Skip intro
            </a>
            <a class="button  button-block button-stabled"  ng-if="slide.id==3" href="#/main">
                Next
            </a>
            </div>
            </ion-slide>
    </ion-slide-box>

</ion-view>
