<ion-view style="" title="Ubication">
    <ion-content class="has-header" padding="true">
        <div style="text-align: center;">
            <img src="img/diamond.png" height="auto" width="100%">
        </div>
        <div style="text-align: center;">
            <p>
            </p>
            <h3 style="text-align:center;">Allow access WL your data location when use the application?</h3>

        </div>
        <div style="" class="button-bar">
            <a style="" class="button button-stable button-block " href="#/conf_telefono">Accept</a>
        </div>
    </ion-content>
</ion-view>