<ion-view style="" title="Payment">
    <ion-content padding="true">
        <div class="list">

          <label class="item item-input item-stacked-label">
            <span class="input-label">Code given by the seller</span>
            <input type="text" placeholder="">
          </label>

           <label class="item item-input item-select">
            <div class="input-label">
                Seller
            </div>
            <select>
              <option>John Doe</option>
              <option selected>Christian Bay</option>
              <option>Frank Waltz</option>
            </select>
           </label>
           <label class="item item-input item-select">
            <div class="input-label">
                Select credit card to use
            </div>
            <select>
              <option>VISA 1</option>
              <option selected>VISA 2</option>
            </select>
           </label>
        </div>

        <button style="" class="button button-positive button-clear button-block ">
        Register your credit card</button>

        <div style="text-align: right;"><b>Amount to be paid:</b> 2.560.000 € </div>

        <a href="" class="button button-block button-stable">Go to payment</a>
    </ion-content>
</ion-view>