<ion-view style="" title="Wallet">
    <ion-content padding="true">
        <div class="list">

          <label class="item item-input item-select">
            <div class="input-label">
                Branson Boats Luxe 40
            </div>
            <select>
              <option>Blue</option>
              <option selected>Green</option>
              <option>Red</option>
            </select>
           </label>

           <label class="item item-input item-select">
            <div class="input-label">
                Seller
            </div>
            <select>
              <option>John Doe</option>
              <option selected>Christian Bay</option>
              <option>Frank Waltz</option>
            </select>
           </label>
        </div>

        <div style="text-align: right;"><b>Total:</b> 2.560.000 € </div>

        <a href="" class="button button-block button-stable">Go to payment</a>
    </ion-content>
</ion-view>