<ion-view style="" title="Who you are?">
    <ion-content class="has-header" padding="true">
        <div style="text-align: center;">
            <img src="img/diamond.png" height="auto" width="100%">
        </div>
        <a style="" class="button button-dark button-block  icon-right ion-android-person" href="#/datos_vendedor">Seller</a>
        <a style="" class="button button-dark button-block  icon-right ion-android-person" href="#/datos_comprador">Buyer</a>
        <div style="" class="button-bar"></div>
        <ion-list style=""></ion-list>
    </ion-content>
</ion-view>