.scroll {
    height: 100%;
}
.angular-google-map,
.angular-google-map-container {
    height: 100%;
    /*padding-bottom: 60px;*/
}

.img-city {
    width: 100%;
    position: relative;
    height: 170px;
}

.text-image {
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    bottom: 5px;
    position: absolute;
    /* right: 5px; */
    z-index: 999;
    left: 12px;
}

.background-text {
    position: absolute;
    right: 0px;
    height: 30px;
    background-color: #000;
    z-index: 0;
    opacity: 0.5;
    border-radius: 5px 0px 0px 5px;
    width: 97%;
    bottom: 10px;
}

.item-news {
    padding: 0;
    border-width: 0px;
    margin-bottom: -4px;
}

.slider {
    height: 100%; 
}

.slider-slide {
    padding-top: 15%;
    color: #000;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    text-align: center;
}

.type-container {
    display: inline-block;
    width: 250px;
    height: 300px;
}

.slider-slide.small {
    padding-top: 0;
    padding:0;
}
.text-desc a{
    margin-left:10px;
}

.image-slide-small {
    height: 200px;

}

.text-image.news{
    color: #FFF;
    font-size: 20px;
    bottom:7px;
}

.text-desc {
    color: #666;
    font-size: 14px;
    margin-bottom: 2px;
    margin:15px 10px;
}

.titlewindow {
    font-weight: bold; 
    text-align:center;
}

.descriptionwindow{
    height: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imagewindow {
    width: 100%;
    height: 80px;
    border-radius: 6px !important;
}

.window {
    max-width: 140px;
    margin-left: 10px;
}

.gm-style div div div div div {
    border-radius: 6px !important;
}

.title-image {
    margin-top: 8px;
    height: 27px;
}

/* Popover */

.popover-menu {
    height: 120px;
    background-color: #222 !important;
    opacity: 0.9 !important;
    width: 160px;
}

.popover-arrow::after {
    background-color: #222 !important;
    opacity: 0.9;
}

.dark-item {
  background-color: transparent !important;
  color: #fff !important;
  border-color: #444 !important;
}
.close-icon:before {
  font-size: 40px !important;
}
.bar-clear {
  background: none;
}
.overlay-spacer {
  height: 100px;
}
.content-flush {
  top: 0px !important;
}